/*.flexbox-container{*/
/*    width: 100%;*/
/*    display: flex;*/
/*}*/

/*.card1{*/
/*    flex: 2;*/
/*    background-color: aqua;*/
/*}*/
/*.card2{*/
/*    flex: 3;*/
/*    background-color: red;*/
/*}*/

/*.card3{*/
/*    flex: 3;*/
/*    background-color: blue;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;800&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}

.container {


    display: flex;
    padding: 24px 3px 24px 5px;
}



.body {
    flex: 4;
}

.statistics {
    flex: 3;
}

.sidebar {
    width: 132px;
    height: 852px;
    background: #0C0B0B;
    border-radius: 24px;
    margin-right: 72px;

    flex-direction: column;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px black;
}

.sidebar-title {
    font-family: "Baloo Bhai 2", cursive;
    font-style: normal;

    font-size: 64px;
    line-height: 102px;
    color: white;
    font-weight: 600;
    margin-bottom: 66px;
    user-select: none;
    cursor: pointer;
}

.icons {
    margin-bottom: 66px;
    cursor: pointer;
}

.chiqish {
    margin-top: auto;
}

.intro {
    display: flex;
    background-color: #F5F5F5;
    border-radius: 14px;
    height: 160px;
    width: 95%;
    margin-top: 31px;

    position: relative;
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 31px;
}

.body_title {
    font-family: "Baloo Bhai 2", cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 57px;
    margin-left: 31px;
}

.body-desc {
    font-family: "Baloo Bhai 2", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 31px;
    color: #0C0B0B;
}

.boy {
    width: 175px;
    height: 191px;
    position: absolute;
    bottom: 0;
    right: 60px;
}

.card {
    height: 80px;
    background-color: #F5F5F7;
    border-radius: 14px;
    display: flex;
    margin-top: 16px;
    align-items: center;
    padding: 0 24px 0 8px;
}

.spanish {
    margin-top: 24px;
    position: relative;
}

.img-wrapper {
    background-color: #fff;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.card-title {
    font-family: "Baloo Bhai 2", cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #0C0B0B;
}

.card-text {
    margin-left: 24px;
    margin-right: 45px;
}

.card-desc {
    font-family: "Baloo Bhai 2", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    color: #0C0B0B;
}

.percentage {
    width: 40px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-color: transparent;
    transform: rotate(45deg);

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.button {
    width: 120px;
    height: 40px;
    background-color: #000000;
    border-radius: 8px;

    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    cursor: pointer;

    margin-left: auto;
}

.number {
    transform: rotate(-45deg);

}

.logo {
    width: 32px;
    height: 32px;
}

.circle {
    width: 40px;
    height: 40px;
    border: 2px solid #0C0B0B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: -70px;
    cursor: pointer;
}

.circle:last-child {
    transform: rotate(180deg);
    margin-right: -58px;
    cursor: pointer;
}

.text-v {
    margin-top: 40px;
    font-size: 24px;
}

.global_text {
    display: flex;
    justify-content: left;
    align-items: center;


    font-family: Baloo Bhai;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;

}

.text_b1 {
    margin-right: 15px;
    margin-top: 17px;
    opacity: 0.3;
    user-select: none;
}

.text_b1:hover {
    opacity: 1;
    color: #0C0B0B;
    cursor: pointer;
    transition: all 0.8s linear;
    user-select: none;
}

.boss_1 {
    width: 620px;
    height: 80px;
    margin-top: 11px;
    background-color: #F5F5F7;
    border: none;
    border-radius: 13px;
    padding: 8px;
    position: relative;

}

.boss_img {
    width: 64px;
    height: 64px;
    background: white;
    border-radius: 13px;
    padding: 16px 21px 16px 21px;
    box-sizing: border-box;
}

.boss_h3 {
    position: absolute;
    width: 95px;
    height: 26px;
    margin-left: 85.5px;
    margin-top: -55px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #0C0B0B;
}

.boss_p {
    position: absolute;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-top: -30px;
    padding-left: 86px;
    color: #0C0B0B;
}

.boss1_img {
    position: absolute;
    margin-top: -40px;
    margin-left: 286px;
}

.boss_p1 {
    position: absolute;
    margin-top: -43px;
    margin-left: 310px;
}

.boss1_img1 {
    position: absolute;
    margin-top: -40px;
    margin-left: 409px;
}

.boss_p2 {
    position: absolute;
    margin-top: -43px;
    margin-left: 428px;
}

.boss1_button {
    width: 120px;
    height: 40px;

    margin-top: -50px;
    margin-left: 476px;

    cursor: pointer;

    position: absolute;

    border: 2px solid black;
    background-color: #0C0B0B;
    border-radius: 9px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;

    color: #F5F5F5;
}

.boss1_button:hover {
    background-color: #F5F5F5;
    color: #0C0B0B;
    transition: all 0.3s linear;
}

.boss_2 {
    width: 620px;
    height: 80px;
    margin-top: 15px;
    background-color: #F5F5F7;
    border: none;
    border-radius: 13px;
    padding: 8px;
    position: relative;

}

.boss2_img {
    width: 64px;
    height: 64px;
    background: white;
    border-radius: 13px;
    padding: 16px;
    box-sizing: border-box;
}

.boss2_h3 {
    position: absolute;
    width: 150px;
    height: 26px;
    margin-left: 85.5px;
    margin-top: -55px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #0C0B0B;
}

.boss2_p {
    position: absolute;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-top: -30px;
    padding-left: 86px;
    color: #0C0B0B;
}

.boss2_img1 {
    position: absolute;
    margin-top: -40px;
    margin-left: 286px;
}

.boss2_p1 {
    position: absolute;
    margin-top: -43px;
    margin-left: 310px;
}

.boss2_image {
    position: absolute;
    margin-top: -43px;
    margin-left: 409px;
}

.boss2_p2 {
    position: absolute;
    margin-top: -43px;
    margin-left: 428px;
}

.boss2_button {
    width: 120px;
    height: 40px;

    margin-top: -50px;
    margin-left: 476px;

    cursor: pointer;

    position: absolute;

    border: 2px solid black;
    background-color: #0C0B0B;
    border-radius: 9px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;

    color: #F5F5F5;
}

.boss2_button:hover {
    background-color: #F5F5F5;
    color: #0C0B0B;
    transition: all 0.3s linear;
}


/*fsfgdgdgfdf*/


.boss_3 {
    width: 620px;
    height: 80px;
    margin-top: 15px;
    background-color: #F5F5F7;
    border: none;
    border-radius: 13px;
    padding: 8px;
    position: relative;

}

.boss3_img {
    width: 64px;
    height: 64px;
    background: white;
    border-radius: 13px;
    padding: 16px;
    box-sizing: border-box;
}

.boss3_h3 {
    position: absolute;
    width: 150px;
    height: 26px;
    margin-left: 85.5px;
    margin-top: -55px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #0C0B0B;
}

.boss3_p {
    position: absolute;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-top: -30px;
    padding-left: 86px;
    color: #0C0B0B;
}

.boss3_img1 {
    position: absolute;
    margin-top: -40px;
    margin-left: 286px;
}

.boss3_p1 {
    position: absolute;
    margin-top: -43px;
    margin-left: 310px;
}

.boss3_image {
    position: absolute;
    margin-top: -43px;
    margin-left: 409px;
}

.boss3_p2 {
    position: absolute;
    margin-top: -43px;
    margin-left: 428px;
}

.boss3_button {
    width: 120px;
    height: 40px;

    margin-top: -50px;
    margin-left: 476px;

    cursor: pointer;

    position: absolute;

    border: 2px solid black;
    background-color: #0C0B0B;
    border-radius: 9px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;

    color: #F5F5F5;
}

.boss3_button:hover {
    background-color: #F5F5F5;
    color: #0C0B0B;
    transition: all 0.3s linear;
}

/*vfgdgfgdfg*/


.boss_4 {
    width: 620px;
    height: 80px;
    margin-top: 15px;
    background-color: #F5F5F7;
    border: none;
    border-radius: 13px;
    padding: 8px;
    position: relative;

}

.boss4_img {
    width: 64px;
    height: 64px;
    background: white;
    border-radius: 13px;
    padding: 16px;
    box-sizing: border-box;
}

.boss4_h3 {
    position: absolute;
    width: 150px;
    height: 26px;
    margin-left: 85.5px;
    margin-top: -55px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #0C0B0B;
}

.boss4_p {
    position: absolute;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-top: -30px;
    padding-left: 86px;
    color: #0C0B0B;
}

.boss4_img1 {
    position: absolute;
    margin-top: -40px;
    margin-left: 286px;
}

.boss4_p1 {
    position: absolute;
    margin-top: -43px;
    margin-left: 310px;
}

.boss4_image {
    position: absolute;
    margin-top: -43px;
    margin-left: 409px;
}

.boss4_p2 {
    position: absolute;
    margin-top: -43px;
    margin-left: 428px;
}

.boss4_button {
    width: 120px;
    height: 40px;

    margin-top: -50px;
    margin-left: 476px;

    cursor: pointer;

    position: absolute;

    border: 2px solid black;
    background-color: #0C0B0B;
    border-radius: 9px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;

    color: #F5F5F5;
}

.boss4_button:hover {
    background-color: #F5F5F5;
    color: #0C0B0B;
    transition: all 0.3s linear;
}

.search {
    width: 300px;
    height: 40px;
    background-color: #F5F5F7;
    border-radius: 9px;
    margin-top: 31px;
    position: relative;
}

.search_img {
    margin-top: 9px;
    margin-left: 10px;

}

.bbrd {
    margin-top: -42px;
    margin-left: 400px;
    position: absolute;
}

.statistics_profile {
    margin-top: -42px;
    margin-left: 450px;
}

.text1 {
    width: 208px;
    height: 96px;
    background-color: #F5F5F5;
    border-radius: 9px;
    margin-top: 23px;
}

.text1 h1 {
    font-size: 64px;
    margin-left: 15px;
}

.text1 p {
    font-size: 16px;
    margin-top: -79px;
    margin-left: 75px;
}

.text2 {
    width: 208px;
    height: 96px;
    background-color: #F5F5F5;
    border-radius: 9px;
    margin-top: -97px;
    margin-left: 240px;
}

.text2 h1 {
    font-size: 64px;
    margin-left: 15px;
}

.text2 p {
    font-size: 16px;
    margin-top: -79px;
    margin-left: 75px;
}

.statistics h1 {
    margin-top: 15px;
}

.statistics_button {
    width: 98px;
    height: 42px;
    background: #F5F5F5;
    border: none;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 127px;
    cursor: pointer;
}
.statistics_buy h2 {
    width: 190px;
}

.statistics_buy p {
    width: 190px;
}

.statistics_button p {
    margin-left: 2px;
    transform: rotate(90deg);
}

.statistics_img {
    margin-top: 32px;
}

.statistics_buy {
    width: 440px;
    height: 193px;
    background-color: #F5F5F5;
    border-radius: 9px;
    padding: 24px;
    box-sizing: border-box;
    position: relative;
}

.statisticsbuy_button {
    width: 120px;
    height: 40px;
    color: white;
    margin-top: 5px;
    background-color: #0C0B0B;
    border-radius: 9px;
    cursor: pointer;
}
.statisticsbuy_img {
    margin-left: 140px;
    margin-top: -90px;
    position: absolute;
}