.div001f {
    background-image: url(img/IMAGE\ \(12\).svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 200px 150px;
    position: absolute;

}

.div002f {
    background-image: url(img/IMAGE\ \(13\).svg);
    background-repeat: no-repeat;
    margin-left: -220px;
    background-position: bottom left;
}

.div003f {
    background-image: url(img/IMAGE\ \(14\).svg);
    background-repeat: no-repeat;
    background-size: cover;

}

.div004f {
    background-image: url(img/IMAGE\ \(15\).svg);
    background-repeat: no-repeat;
    background-size: cover;

}

.div005f {
    background-image: url(img/IMAGE\ \(16\).svg);
    background-repeat: no-repeat;
    background-size: cover;

}

.div007f {
    background-image: url(img/IMAGE\ \(18\).svg);
    background-repeat: no-repeat;
    background-size: cover;

}

.div006f {
    background-image: url(img/IMAGE\ \(17\).svg);
    background-repeat: no-repeat;
    background-size: cover;

}

.div008f {
    background-image: url(img/IMAGE\ \(19\).svg);
    background-repeat: no-repeat;
    background-size: cover;

}

