@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&family=Roboto&display=swap');

/** - bu html degani*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    height: 800px;
    width: 100%;
    background: url("img/123.jpg");
    background-size: 120%;

    background-repeat: no-repeat;
}


.navbar {
    width: 100%;
    height: 74px;
}

.wrap {
    width: 70%;
    padding-top: 27px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.wrap ul li {
    display: inline-block;
}

.wrap ul li a {
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 41px;
    font-weight: 400;
    color: #ffffff;

}

.navbar-brand {
    font-family: 'Lora', serif;
    font-size: 26px;
    line-height: 26px;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
}

.text {
    text-align: center;
    margin-top: 120px;
    color: #ffffff;
}

.text h1 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    /* identical to box height, or 102% */

    text-align: center;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.text p {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height, or 118% */

    text-align: center;

    color: rgba(255, 255, 255, 0.63);

    margin-top: 20px;
}

.text button {
    height: 44px;
    width: 167px;
    color: #FFFFFF;
    font-family: "Oxygen", sans-serif;
    font-size: 13px;
    background: #DD783F;
    border-radius: 3px;
    border: 0;
    margin-top: 43px;
    margin-bottom: 169px;
}

.navbar-one {
    margin-top: -238px;
}

.wrap-one {
    width: 90%;
}

.navbar-one ul li a {
    color: #768088;
    margin-left: 91px;
}

.box {
    width: 100%;
    height: 1255px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: #F7F7F7;
    border-radius: 0px;
    flex-wrap: wrap;

}

.box p {

    width: 161px;
    height: 27px;
    left: calc(50% - 161px/2 + 0.5px);
    top: 0px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */


    margin-left: 610px;
    padding-top: 60px;
    letter-spacing: 2px;

    color: #2E2E2E;

}


.img1 {
    height: 380px;
    padding-top: 110px;
    padding-left: 240px;
}

.img2 {
    height: 380px;
    padding-top: 110px;
    padding-left: 20px;
}

.box p:nth-child(2) {
    width: 136px;
    height: 27px;
    left: calc(50% - 136px/2);
    top: 0px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */

    text-align: center;
    letter-spacing: 2px;

    color: #2E2E2E;
}

.img3 {
    widows: 296px;
    height: 150px;
    margin-top: 80px;
    padding-left: 240px;
}

.bd {
    width: 296px;
    height: 93px;
    left: 0%;
    right: 0%;
    top: 0px;
    margin-left: 240px;
    padding-top: 14px;

    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    position: relative;
    flex-wrap: wrap;
}

.bd p5 {
    height: 21px;
    left: 4.39%;
    right: 50.68%;
    top: 20px;
    margin-bottom: 6px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */


    color: #101315;
    margin-left: 13px;

}

.bd p6 {
    position: absolute;
    width: 255px;
    height: 19px;
    padding-top: 6px;
    margin-left: 13px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;

    color: #7A7A7A;
}

.bd1 {
    width: 296px;
    height: 48px;
    left: 0%;
    right: 0%;
    top: 0px;
    margin-left: 240px;

    background: #FCFCFC;
    border-radius: 0px;
    position: relative;
    flex-wrap: wrap;
}

.bd1 img {
    position: absolute;
    height: 26px;
    left: 4.39%;
    right: 86.82%;
    margin-top: 12px;

}

.bd1 p7 {
    position: absolute;
    height: 35px;
    margin-left: 49px;
    padding-top: 7px;


    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    /* identical to box height, or 318% */


    color: #999999;
}

.bd1 p8 {
    position: absolute;
    height: 35px;
    margin-left: 225px;
    padding-top: 7px;


    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    /* identical to box height, or 318% */


    color: #999999;
}

.box-bd {
    width: 296px;
    height: 93px;
    left: 0%;
    right: 0%;
    top: 0px;
    margin-left: 240px;
    padding-top: 14px;

    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    position: relative;
    flex-wrap: wrap;
}


.box-bd p9 {
    height: 21px;
    left: 4.39%;
    right: 50.68%;
    top: 20px;
    margin-bottom: 6px;

    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */


    color: #101315;
    margin-left: 13px;

}

.box-bd p10 {
    position: absolute;
    width: 255px;
    height: 19px;
    padding-top: 6px;
    margin-left: 13px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;

    color: #7A7A7A;

}

.rasm {
    margin-left: 240px;
    
}

.vlog p7 {
    position: absolute;
    height: 35px;
    margin-left: 49px;
    padding-top: 7px;


    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    /* identical to box height, or 318% */


    color: #999999;
}

.vlog img {
    position: absolute;
    height: 26px;
    left: 4.39%;
    right: 86.82%;
    top: 12px;
    
    background: url(.jpg);
    border-radius: 60px;
}

.vlog {
     width: 296px;
    height: 48px;
    left: 0%;
    right: 0%;
    top: 0px;
    margin-left: 240px;

    background: #FCFCFC;
    border-radius: 0px;
    position: relative;
    
}

.vlog p8 {
    position: absolute;
    height: 35px;
    margin-left: 225px;
    padding-top: 7px;


    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    /* identical to box height, or 318% */


    color: #999999;
}

.contener1 {
    flex: w;
}