.box {
    width: 100px;
    height: 100px;
    background-color: blue;

    /****Transform****/
    /*transform: rotateX(30deg);*/
    /*transform: rotate(30deg);*/
    /*transform: translateX(400px);*/
    /*translateX() ===> gotizontal yonalishini bir joydan ikkinchi joyga elementni suradi*/
    
    
    /*transform: translateY(900);*/
    /*translateY() ===> vertikal yonalishini bir joydan ikkinchi joyga elementni suradi*/
    transform: scale(1);
    
    /*transform: translate(300px,400px);*/
    /*bu bir joydan ham gorizontal va vertikal xolatga butildi*/
    
    /*bu elemetni 1.2 baravarga katalashadi*/
    /*transform: translateX(400px) translateY(400px) rotate(30deg) scale(1.2);*/
    /*transform: skew( 30deg,20deg);*/
    transform: scale(3, 0.7);
}

.contener {
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
    background-color: aqua;
    padding: 10px;
    box-sizing: border-box;
    transition-property: transform, box-shadow;
    transition-duration: 0.5s;
    
    /*leaner ==> vaqt bir tekista ishlaydi*/
    /*transition-delay: 1s;*/
}

.card img {
    width: 100%;
}

.card:hover {
    transform: rotate(30deg) scale(1.2);
    box-shadow: 0 0 6px 3px darkgray;
    
}

.circle {
    width: 40px;
    height: 40px;
    background-color: coral;
    border-radius: 50%;
    margin-top: 5px;
    transition: all 2s ;
}

.circle:nth-child(1){
    transition-timing-function: ease;
}
.circle:nth-child(2){
    transition-timing-function: ease-in;
}
.circle:nth-child(3){
transition-timing-function: ease-out;
}
.circle:nth-child(4){
    transition-timing-function: ease-in-out;
}
.circle:nth-child(5){
    transition-timing-function: linear;
}


.wrap:hover .circle {
transform: translateX(400px);
}

.navbar{
    width: 100%;
    height: 60px;
    background: aqua;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

ul li {
display: inline-block;
}

ul li a {
    text-decoration: none;
    font-size:28px ;
    margin: 0 ;
    position: relative;

}
ul li a:after {
    content: '';
    height: 3px;
    width: 0;
    background-color: red;
    bottom: -18px;
    left: 0;
    position: absolute;
    transition: all 0.5s linear;
}
ul li a:hover:after{
    width: 100%;
}