body {
    margin: 0;
    padding: 0;
    /*x o'qi bo'yciha skrollni yo'q qiladi'*/
    overflow-x: hidden;
    background: #E5E5E5;
    ;
}

/*Navbar Style start*/
.navbar {
    width: 100%;
    height: 80px;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap ul li {
    display: inline-block;
}

.wrap ul li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin: 0 10px;
}

/*Header Style Start*/

.header {
    width: 100%;

    align-items: center;
}

.header_row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 100%;
    height: 50px;
    background-color: #E5E5E5;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.header_beeline {
    width: 100%;
    height: 70px;
    background-color: #FCC400;
    padding-top: 5px;
}

.header h2,
a {
    margin-bottom: 0;
    color: #fff;
    margin-top: 10px;
    margin-left: 150px;
    text-decoration: none;
}

.main_communication {
    margin-left: 130px;
    margin-top: 49px;


    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: -0.15px;

    color: #000000;

}

.main-box {
    width: 100%;
    height: 170px;
    position: relative;
}

.main-box_card-one {
    position: absolute;
    width: 160px;
    height: 160px;

    border-radius: 5px;
    margin-left: 128px;

    background-color: #ffffff;
}

.main-box_card-one img {
    width: 58px;
    height: 58px;
    margin-left: 51px;
    margin-top: 30px;
}

.main-box_card-one p {

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    letter-spacing: 0.110345px;

    margin-left: 47px;
}

.main-box_card-two {
    width: 160px;
    height: 160px;
    position: absolute;

    border-radius: 5px;
    margin-left: 320px;

    background-color: #ffffff;
}

.main-box_card-two img {
    width: 58px;
    height: 58px;
    margin-left: 51px;
    margin-top: 30px;
}

.main-box_card-two p {

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    letter-spacing: 0.110345px;

    margin-left: 30px;
}

.main-box_card-three {
    width: 160px;
    height: 160px;
    position: absolute;

    border-radius: 5px;
    margin-left: 510px;

    background-color: #ffffff;
}

.main-box_card-three img {
    width: 58px;
    height: 58px;
    margin-left: 51px;
    margin-top: 30px;
}

.main-box_card-three p {

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;


    letter-spacing: 0.110345px;

    margin-left: 50px;
}

.main-box_card-four {
    width: 160px;
    height: 160px;
    position: absolute;

    border-radius: 5px;
    margin-left: 700px;

    background-color: #ffffff;
}

.main-box_card-four img {
    width: 58px;
    height: 58px;
    margin-left: 51px;
    margin-top: 30px;
}

.main-box_card-four p {

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    letter-spacing: 0.110345px;

    margin-left: 40px;
}

.main-box_card-five {
    width: 160px;
    height: 160px;
    position: absolute;

    border-radius: 5px;
    margin-left: 890px;

    background-color: #ffffff;
}

.main-box_card-five img {
    width: 58px;
    height: 58px;
    margin-left: 51px;
    margin-top: 30px;
}

.main-box_card-five p {

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    letter-spacing: 0.110345px;

    margin-left: 40px;
}

.main-box_card-six {
    width: 160px;
    height: 160px;
    position: absolute;

    border-radius: 5px;
    margin-left: 1080px;

    background-color: #ffffff;
}

.main-box_card-six img {
    width: 58px;
    height: 58px;
    margin-left: 51px;
    margin-top: 30px;
}

.main-box_card-six p {

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    letter-spacing: 0.110345px;

    margin-left: 59px;
}

.main_beelinenews {
    margin-left: 130px;
    margin-top: 49px;


    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: -0.15px;

    color: #000000;
}

.main-cards {
    width: 100%;
    height: 950px;
    margin-bottom: 30px;
    position: relative;
    margin: 15px;

}

.main-card {
    width: 350px;
    height: 400px;

    border-radius: 4px;

    background: #ffffff;
    margin-top: 15px;
    margin-left: 120px;
}

.main-card p {
    text-align: center;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    letter-spacing: 0.110345px;

    color: #000000;
}

.main-card p1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 24px;
}

.main-card p2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 267px;
}

.eye {
    position: absolute;
    margin-top: 12px;
    margin-left: 243px;
}

.main-card-music {
    position: absolute;
    width: 350px;
    height: 400px;
    margin-top: 30px;
    margin-left: 120px;
    background: #ffffff;
}

.main-card-music p {
    text-align: center;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    letter-spacing: 0.110345px;

    color: #000000;
}

.main-card-music p1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 24px;
}

.main-card-music p2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 267px;
}

.eye {
    position: absolute;
    margin-top: 12px;
    margin-left: 243px;
}

.main-card-computer {
    width: 350px;
    height: 400px;
    margin-top: -400px;
    margin-left: 508px;
    background: #ffffff;
    border-radius: 4px;
}

.main-card-computer p {
    text-align: center;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    letter-spacing: 0.110345px;

    color: #000000;
}

.main-card-computer p1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 24px;
}

.main-card-computer p2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 267px;
}

.main-card-dron {
    width: 350px;
    height: 400px;
    margin-top: -400px;
    margin-left: 898px;
    background: #ffffff;
    border-radius: 4px;
}

.main-card-dron p {
    text-align: center;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    letter-spacing: 0.110345px;

    color: #000000;
}

.main-card-dron p1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 24px;
}

.main-card-dron p2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 267px;
}

.main-card-iphone {
    width: 350px;
    height: 400px;
    margin-top: 30px;
    margin-left: 898px;
    background: #ffffff;
    border-radius: 4px;
}

.main-card-iphone p {
    text-align: center;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    letter-spacing: 0.110345px;

    color: #000000;
}

.main-card-iphone p1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 24px;
}

.main-card-iphone p2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 267px;
}

.main-card-phone {
    width: 350px;
    height: 400px;
    margin-top: -400px;
    margin-left: 508px;
    background: #ffffff;
    border-radius: 4px;
}

.main-card-phone p {
    text-align: center;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 130% */

    letter-spacing: 0.110345px;

    color: #000000;
}

.main-card-phone p1 {
    position: absolute;
    margin-top: 10px;
    margin-left: 24px;
}

.main-card-phone p2 {
    position: absolute;
    margin-top: 10px;
    margin-left: 267px;
}

.main-button {
    width: 1128px;
    height: 54px;

    border-radius: 4px;
    margin-left: 120px;
    margin-top: 33px;
    cursor: pointer;

    background-color: #000000;
    opacity: 0.5;
    color: white;
}

.main-button:hover {

    background-color: #3A4357;
    opacity: 0.2;
}

.footer {
    width: 100%;
    height: 378px;
    background: #ffffff;
    position: relative;
    
}

.footer h3 {
    height: 19px;
    margin-left: 130px;
    padding-top: 50px;
    

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.088276px;

    color: #000000;
}

.footer p {
    
    margin-left: 130px;
    

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 0.0772415px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.3;
}

.sitemap-number {
    width: 799px;
    height: 200px;
    position: relative;
}

.footer-mobile_communication {
    position: absolute;
}

.footer-services {
    margin-left: 259px;
    position: absolute;
}

.footer-company {
    position: absolute;
    margin-left: 559px;
}

#input {
    width: 90px;
    height: 36px;
    margin-top: 60px;
    margin-left: 128px;
    border: none;
    border-radius: 2px;
    background: #F8F8FA;
}

.footer-share {
    width: 799px;
    height: 85px;
}


.footer-share p{
    position: absolute;
    margin-top: 30px;
}

.card-telegram {
    width: 36px;
    height: 36px;
    background: #F8F8FA;
    padding: 10px 9px 8px 8px;
    margin-left: 340px;
    margin-top: -35px;
    box-sizing: border-box;
    border-radius: 50%;
}

.card-instagram {
    width: 36px;
    height: 36px;
    background: #F8F8FA;
    padding: 10px 8px 9px 10px;
    margin-left: 390px;
    margin-top: -37px;
    box-sizing: border-box;
    border-radius: 50%;
}

.card-facebook {
    width: 36px;
    height: 36px;
    background: #F8F8FA;
    padding: 9px 8px 9px 12px;
    margin-left: 440px;
    margin-top: -37px;
    box-sizing: border-box;
    border-radius: 50%;
}

.footer-contact {
    display: flex;
}
