.salo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.salo p a {
    text-decoration: none;
    color: #141414;
    margin-left: 30px;
    font-size: 17px;

}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
}


.signup p a {
    /* border: 1px solid #F8F4F4; */
    color: #141414;
    text-decoration: none;
    font-size: 17px;

}

.signup button {
    font-size: 15px;
}

.div48f {
    font-size: 90px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
}

.div54q p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
}

.div54u {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div54u input {
    width: 250px;
    height: 36px;
    padding-left: 10px;
}

.div54u input:focus {
    border: 1 px solid #0099FF;
    outline: none;
}

.div49f {
    color: #B2B2B2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div50f p {
    text-align: center;
    font-size: 30px;
}

.div50f img {
    margin-left: 130px;
}

.div51f {
    position: relative;
    margin-left: 400px;
    margin-top: -28px;
    width: 350px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px #B2B2B2;
    box-sizing: border-box;
    background-color: #fff;

}

.div51f img {
    margin-top: 13px;
    margin-left: 10px;
    position: absolute;
}

.div51f p {
    position: absolute;
    margin-top: 15px;
    margin-left: 50px;
    font-size: 15px;
}

.butnu {
    border: 2px solid #F8F4F4
}

/* .div53f{} */
.div54f {
    margin-top: 150px;
}

.div55f {
    margin-top: 150px;
}

.div56f {
    background-color: #202E78;
    border-radius: 10px;
}

.con1 {
    padding-top: 50px;
}

.img1 {
    margin-left: 45%;
}

.con1 h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

.con1 p {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.con1 p:nth-child(4) {
    border: 2px solid #fff;
    margin-top: 60px;
    color: #fff;
    cursor: pointer;
    width: 220px;
    height: 40px;
    border-radius: 5px;
    padding-top: 6px;
    margin-left: 40%;
}

.clo {
    background-color: #000639;
    padding: 20px 0px 0px 2px;
    border-radius: 0px 15px 15px 0px;
}

.clo p:nth-child(2) {
    text-align: left;
    color: #fff;
    font-size: 25px;
    line-height: 36px;
    margin-top: 40px;
}

.clo p:nth-child(3) {
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
}

.p54pfd {
    color: #fff;
    height: 40px;
    width: 220px;
    border: 2px solid #fff;
    cursor: pointer;
    padding-top: 6px;
    border-radius: 5px;
    text-align: center;
    margin-top: 60px;
}

.div57f {
    background-color: #181818;
    border-radius: 10px;
}

.butnui {
    margin-top: 65px;
    margin-bottom: 40px;
}

.div58f img:nth-child(1) {
    margin-top: 150px;
}

.div58f img:nth-child(1) {
    margin-left: 35%;
}

.div58f p:nth-child(2) {
    font-size: 82px;
}

.div58f p {
    text-align: center;
}

.img2 {
    margin-left: 25%;
    /* margin-top: -11px; */
}

.img3 {
    margin-left: 45%;
    margin-top: -11px;
}

.div59f {
    background-color: #3CA9FF;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.kfjs {
    font-size: 48px;
}

.div60f {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;

}

.div60f div {
    display: flex;
    align-items: center;
    justify-content: center;

}

.div60f p {
    margin-top: 13px;
}

.div61f{
    background-color: #000000F2;
    padding: 30px;
    position: relative;
    margin-top: 50px;
    border-radius: 5px;


}
.div62f{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div63f{
    position: absolute;
    margin-top: 20px;
}