.birinchi {
    background-color: #2F91BB;
    height: 700px;
    background-image: url(img/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;

}

.container {
    width: 100%;
}

.navbar p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 150px;
    color: #fff;
}

.Bsasf5f {
    width: 53px;
    height: 4px;
    background-color: #fff;
    border: #fff;
}

.Bffsf5f {
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 75px;
    color: #fff;
}

.Bfcsf5f {
    display: flex;

}

.Bfcsf5f div {
    margin-left: 55px;
    width: 1px;
    height: 200px;
    background-color: #FFFFFF33;
}

.Bfcsf5f p {
    color: #fff;
    margin-left: 30px;
}

.Bfcsf5f p a {
    color: #fff;
    text-decoration: none;
}

.img1 {
    margin-top: -285px;
    width: 800px;
    /* overflow: hidden; */
    height: 1200px;
    object-fit: cover;
    object-position: top;
}

.img2 {
    margin-top: -1110px;
    margin-left: 700px;
    width: 500px;
}

.img3 {
    width: 200px;
    margin-left: 750px;
    margin-top: -160px;
}

.uchinchi {
    background-color: #2F91BB;
    margin-top: -100px;
}

.img4 {
    width: 275px;
    margin-top: 160px;
}

.img5 {
    width: 275px;
    margin-top: 9px;
}

.img6 {
    width: 300px;
    margin-top: 50px;
    margin-left: -37px;
}

.saytlar {
    margin-left: 10px;
    margin-top: 50px;
    border: 1px solid #FFFFFF66;
    border-radius: 10px;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    display: flex;
}

.img7 {
    display: flex;
    width: 70px;
    margin-top: 2px;

}

.Fs5a8af {
    margin-top: 150px;
    margin-left: -10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: #fff;
}

.div54d {
    display: flex;
    margin-top: 50px;
}

.div527 {
    margin-left: 15px;
}

.p54lk2 {
    font-size: 35px;
    color: #fff;
    padding-top: 10px;
}

.p54lk1 {
    color: #fff;
    margin-top: -25px;
}

.img8 {
    width: 300px;
    height: 600px;
}

.img9 {
    height: 600px;
    width: 300px;
    margin-top: 120px;
    margin-left: 30px;
}

.img10 {
    height: 600px;
    width: 300px;
    margin-top: 220px;
    margin-left: 30px;
    margin-bottom: 60px;

}

.img11{
    width: 200px;
    margin-top: 30px;
    padding-left: 25px;
    height: 350px;
}
.img12{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-left: 25px;
    height: 350px;
}